<!-- <ion-header>
    
  <ion-toolbar>
    
    <ion-title>Search Product</ion-title>    
  </ion-toolbar>
</ion-header> -->

<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start" (click)="viewCtrl_dismiss()">
          <ion-icon name="arrow-round-back"  style="height:20px;width:20px;"></ion-icon>    
      </ion-buttons>
      <ion-title>
        &nbsp;&nbsp;&nbsp;Search Product
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding class="cards-bg scrollbar">
    <ion-searchbar   (ionChange)="chagedItem(searchedItem)" [(ngModel)]="searchedItem" placeholder="Search Products" ></ion-searchbar>
    <!-- <ion-list>
      <ion-item *ngFor="let item of productarr" (click)="onClickProduct(item.product_id)">
        {{ item.product_name }}
      </ion-item>
    </ion-list> -->
    <ion-card class="cards-list-demo">
      <ion-card-header>
        Products
      </ion-card-header>    
      <ion-list *ngFor="let item of searcharr">
        <button ion-item  (click)="onClickProduct(item.product_id)">
          <ion-icon name="albums" item-start></ion-icon>          
          {{item.product_name}}
          <br>
        </button>
      </ion-list>
    </ion-card>

</ion-content>
<ion-footer style="background: transparent; background-color: transparent;padding-left: 40px;">
	<ion-row>
		<ion-col><ion-icon name="arrow-dropleft-circle"></ion-icon></ion-col>
		<ion-col><ion-icon name="arrow-dropright-circle"></ion-icon></ion-col>
		<ion-col><ion-icon name="apps"></ion-icon></ion-col>
		<ion-col><ion-icon name="person"></ion-icon></ion-col>
	</ion-row>
		  
	  </ion-footer>