.checkoutButton {
    float: right;
    border: 0;
    margin-top: 20px;
    padding: 3px 12px;
    background-color:#494;
    color: #fff;
    font-size: 25px;
    border-radius: 3px;
  }
  
  .checkoutButton:hover {
    background-color: burlywood;
  }